.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
}

.loading,
.analyzing {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
  color: red;
  font-size: 28px;
}

.analyzing {
  z-index: 2;
}

.crime {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
  color: red;
  text-align: center;
}

.secondaryCrime {
  color: darkred;
}

.camera {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.analyze {
  position: absolute;

  font-size: 28px;
  bottom: 100px;
}

.analyze:disabled {
  opacity: 0.5;
}
